* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.row > div:not(:first-of-type),
.row button {
  margin-left: 20px;
}

.text-center {
  text-align: center;
}
.mt-5 {
  margin-top: 20px;
}
